/*menu*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1175 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: whitesmoke;
    font-weight: 500;
}

.snip1175 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1175 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.2em;
    overflow: hidden;
}

.snip1175 a {
    padding: 0 0.5em 0 0.2em;
    color: black;
    position: relative;
    display: inline-block;
    letter-spacing: 4px;
    margin: 0;
    text-decoration: none;
}

.snip1175 a:before,
.snip1175 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1175 a:before {
    right: 100%;
    display: block;
    width: 3px;
    height: 100%;
    content: "";
    background-color: ;
}

.snip1175 a:after {
    padding: 0 0.5em 0 0.2em;
    position: absolute;
    right: 100%;
    top: 0;
    content: attr(data-hover);
    color: black;
    white-space: nowrap;
}

.snip1175 li:hover a,
.snip1175 .current a {
    transform: translateX(100%);


}


}


body {
    padding: 50px 0;

}


/*Tekst*/

.wrapper {
    width: 65%;
    margin: auto;
}

.newspaper{
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
}

.logo{
     display: block;
    margin-left: auto;
    margin-right: auto
    
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Slabo 27px', serif;
    line-height:
}

.overskrift {
    font-size: 3em
}

.overskrift {
    font-family: 'Julius Sans One', sans-serif;
}


img {
    max-width: 100%;
    margin: 10px 0 0 0
}

body {
    background-color: whitesmoke;
}

ul,
ol {
    font-family: 'Slabo 27px', serif
}



.footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: greyb;
    text-align: center;
    display: inline-block;
    height: 1%;
    margin: 100px 0 0 0;
    
}

.opskrifter {
    font-size: 2em;
    text-align: center
    
    
}

.sparetips {
    font-size: 2em;
    text-align: center;

}

.madpåbudget {
    font-size: 2em;
text-align: center}

.container{
    position: relative;
    width: 50%;
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden
    
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%
        transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%)
}

.container:hover .image{
    opacity: 0.3;
}

.container:hover .middle{
    opacity: -1;
}

.tekst{
    background-color: black;
        color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.left {
    float: left;
    width: 50%;
    height: auto;
    margin: 20 0 30px 0;
}

.right{
    float: right;
        width: 50%;
    height: auto;
    margin: 20 0 30px 0;
}

.ingredienser{
    float: none;
    width: 25%;
    margin: 0px 20px 10px 0;
}

.nystart{
    font-size:  2em;
    text-align: center
}

.street{
    margin: 0 0 5% 0;
    width: 100%;
}

.gris{
    margin: 0 0 2% 0;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.forsidebillede{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.kødsovs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}